.DS_Store
.env
.env.*
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
docker/stack/.env.dev
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

docker/stack/.env.dev
**/nginx/conf/agent-*.conf


